/* el tooltip */
.el-tooltip__popper.elx-valid_tooltip {
  background: #f56c6c;
}
.el-tooltip__popper.elx-valid_tooltip[x-placement^=top] .popper__arrow,
.el-tooltip__popper.elx-valid_tooltip[x-placement^=top] .popper__arrow::after {
  border-top-color: #f56c6c;
}
.el-tooltip__popper.elx-valid_tooltip[x-placement^=bottom] .popper__arrow,
.el-tooltip__popper.elx-valid_tooltip[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #f56c6c;
}
.el-tooltip__popper.elx-valid_tooltip[x-placement^=left] .popper__arrow,
.el-tooltip__popper.elx-valid_tooltip[x-placement^=left] .popper__arrow::after {
  border-left-color: #f56c6c;
}
.el-tooltip__popper.elx-valid_tooltip[x-placement^=right] .popper__arrow,
.el-tooltip__popper.elx-valid_tooltip[x-placement^=right] .popper__arrow::after {
  border-right-color: #f56c6c;
}
.elx-contextmenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  font-size: 12px;
  color: #000;
  background: #FFF;
  border: 1px solid #C6C6C6;
  box-shadow: 2px 2px 4px -2px #666;
  padding: 0 1px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.elx-contextmenu > .ctx-menu_wrapper {
  border-bottom: 1px solid #E8EAED;
}
.elx-contextmenu > .ctx-menu_wrapper:last-child {
  border: 0;
}
.elx-contextmenu > .ctx-menu_wrapper > .ctx-menu_link {
  position: relative;
  display: block;
  width: 100px;
  line-height: 26px;
  padding: 0 30px;
  margin: 1px 0;
  border: 1px solid transparent;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.elx-contextmenu > .ctx-menu_wrapper > .ctx-menu_link.active {
  color: #2B2B2B;
  background-color: #C5C5C5;
  border-color:#C5C5C5;
}
.elx-contextmenu > .ctx-menu_wrapper > .ctx-menu_link.disabled {
  color: #B1B1B1;
}
.elx-contextmenu > .ctx-menu_wrapper > .ctx-menu_link.disabled.active {
  border-color:#C0C1C2;
  background-color: #EEEEEE;
}
.elx-contextmenu > .ctx-menu_wrapper > .ctx-menu_link.disabled.active:hover {
  background-color: inherit;
}
.elx-contextmenu > .ctx-menu_wrapper .ctx-prefix-icon,
.elx-contextmenu > .ctx-menu_wrapper .ctx-suffix-icon {
  position: absolute;
  top: 5px;
  margin-right: 5px;
  font-size: 16px;
}
.elx-contextmenu > .ctx-menu_wrapper .ctx-prefix-icon {
  left: 5px;
}
.elx-contextmenu > .ctx-menu_wrapper .ctx-suffix-icon {
  right: 5px;
}
/* elx-scroll */
.elx-editable .elx-scroll_wrapper {
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  overflow: auto;
}
.elx-editable .elx-scroll_wrapper .elx-scroll_body {
  width: 1px;
}